
  table {
    width: 100%;
    border-collapse: collapse;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.281);
    border-radius: 8px;
    overflow: hidden;
  }
  
  thead {
    background-color: #092d7b;
    font-weight: bold;
  }
  
  tr:has(td):hover {
    cursor:pointer;
    background-color: #0b3fb15b;;
  }
  
  
  td {
    padding: 4px 8px;
  }
  
  td:nth-child(2) {
    text-align: center;
  }
  
  td:nth-child(3) {
    display: flex;
    justify-content: end;
  }
  
  tr:nth-child(even) {
    background-color: #092d7b5b;
  }
  
  th {
    padding: .5rem;
  }
  
  th:nth-child(1) {
    text-align: left;
  }
  
  th:nth-child(3) {
    text-align: right;
  }
  
  .topRight {
    position: absolute;
    right: 1rem;
    cursor: pointer;
  }
  
  .editButton:hover {
    transform: scale(1.1);
  }

.popUpBackground {
    position: absolute;
    background-color:rgba(5, 3, 58, 0.74);
    height: calc(100vh - 50px);
    width: 100%;
    z-index: 100;
  }
  
  .popUp {
    background-color: #092d7b;
    width: 50%;
    padding: .5rem;
    margin-bottom: 1rem;
  }

  
  
  .productPicture {
    max-width: 30%;
  }

  .description {
    max-width: 50%;
  }

  .missing {
    color: rgb(232, 87, 54);
  }