* {
  box-sizing: border-box;
}

body {
  background-color: #092e7b;
  background-image: 
      radial-gradient(at 47% 33%, hsl(252.54, 82%, 16%) 0, transparent 59%), 
      radial-gradient(at 82% 65%, hsl(198.86, 72%, 9%) 0, transparent 55%);
}

#root {
  padding: 0;
  width: 100%;
}

.card {
  margin: 2rem;
  padding: 1rem;
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(17, 25, 40, 0.75);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);
  position: relative;
}

.innerCard {
  margin: 1rem;
  padding: 1rem;
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(17, 25, 40, 0.75);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);
  position: relative;
}

.half {
  width: 50%;
}

.half>h1 {
  text-align: center;
}

.flex {
  display: flex;
  justify-content: center;
}

#invCard {
  display: flex;
}

#invCard>* {
  width: 100%;
}

.titleBar {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

h2 {
  margin: 0;
}

.syncedOverview>div {
  display: flex;
  .card {
    width: 100%;
    margin: 0 .5rem;
  }
}

.popUp {
  padding: .5rem;
  margin-bottom: 1rem;
}

table {
  width: 100%;
  border-collapse: collapse;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.281);
  border-radius: 8px;
  overflow: hidden;
}

thead {
  background-color: #092d7b;
  font-weight: bold;
}

tr:has(td):hover {
  cursor:pointer;
  background-color: #0b3fb15b;;
}


td {
  padding: 4px 8px;
}

td:nth-child(2) {
  text-align: center;
}

td:nth-child(3) {
  display: flex;
  justify-content: end;
}

tr:nth-child(even) {
  background-color: #092d7b5b;
}

th {
  padding: .5rem;
}

th:nth-child(1) {
  text-align: left;
}

th:nth-child(3) {
  text-align: right;
}

.status {
  padding: 2px 6px;
  margin: 2px;
  border-radius: 1rem;
  text-align: center;
  font-size: .8rem;
  transform: translateX(4px);
  background-color: rgb(0, 49, 49);
}

.status.cycle {
  background-color: rgb(95, 10, 134);
}

.status.shopify {
  background-color: rgb(77, 77, 77);
}

.status.lowStock {
  background-color: rgb(155, 25, 8);
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.navBar {
  width: 100%;
  height: 50px;
  background-color: #092d7b;
  box-shadow:rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  padding: 1rem 2rem;
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.navBar2 {
  display: flex;
  gap: 2rem;
  align-items: center;
}

.navBar2>* {
  color: white;
}

.gradientButton {
  padding: 2px 18px;
  border-radius: 1rem;
  text-align: center;
  color: white;
  border: 1px solid white;
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgb(5, 3, 58) 0%, rgba(9,9,121,1) 35%, rgb(8, 63, 180) 100%);
  margin: 1rem;
  width: max-content;
}


form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin: 0px 30px;
}

input {
  height: 2rem;
  border-radius: 1rem;
  padding: 10px;
  margin: 0 10px;
  width: 200px;
}

input[type="radio"] {
  width: min-content;
  vertical-align: middle;
  margin: 0 10px;
  transform: translateY(1px);
}

input[type="file"] {
  font-size: 1rem;
  margin: 10px;
  height: max-content;
  width: max-content;
  text-align: center;
}

label {
  vertical-align: middle;
  padding-left: 20px;
}


button {
  background-color: #092d7b;
  border-radius: 20px;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.editButton {
  position: absolute;
  right: 1rem;
  cursor: pointer;
}

.editButton:hover {
  transform: scale(1.1);
}

.search {
  flex-direction: row;
}


@media (max-width: 1000px) {
  #invCard{
    display: flex;
    flex-direction: column;
  }
}