#root {
  max-width: 1280px;
  margin: 0;
  padding: 0;
}

.item {
  display: flex;
  gap: 10px;
  justify-content: space-between;
  border: 1px solid white;
  margin: 1rem;
  padding: 4px;
  border-radius: 6px;
}